/* strating rooles */
body{
    background-color: #eee;
    }

/* end rools */

.footer{
    background-color: #111;
    color: #fff;
    padding: 40px;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;

}
/* statrt styling posts */
.main--post{
    background-color: #ccc;
    border-radius: 10px;
    padding: 30px;
}
.main--post .post-auther ,
.main--post .post-date ,
.main--post .post-comments {
  font-size: 12px ;
}
.main--post .post-content{
  line-height: inherit;
  color: #666 ;
}
.main--post h3{
    margin-top: 0;
    margin-bottom: 10px ;
    color: #262626;
    text-transform: capitalize;
    font-weight: 300;
}
.main--post svg{
  width: 15px ;
  height: 15px;
  color:#262626 ;
}
/* end styling posts */
