/* strating rooles */
body{
    background-color: #eee;
    height: 500px ;
    }
.post-date div{
  display: inline ;
}
svg{
  width: 10px ;
  height: 10px ;
}
/* end rools */

.footer{
    background-color: #111;
    color: #fff;
    padding: 40px;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;

}
/* statrt styling main posts */
.home-page .main--post{
    background-color: #ccc;
    border-radius: 10px;
    padding: 30px;
}
.home-page .main--post .post-auther ,
.home-page .main--post .post-date ,
.home-page .main--post .post-comments {
  font-size: 12px ;
}
.home-page .main--post .post-content{
  line-height: inherit;
  color: #666 ;
}
.home-page .main--post h3{
    margin-top: 0;
    margin-bottom: 10px ;
    color: #262626;
    text-transform: capitalize;
    font-weight: 300;
}
.home-page .main--post svg ,
.posts-page .main--post svg{
  width: 15px ;
  height: 15px;
  color:#262626 ;
}
/* end styling main posts */

/* start styling pagination  */
.post-pagination{
  width: 500px ;
  margin: 30px auto 40px ;
  text-align: center;
}
.post-pagination a ,
.post-pagination span {
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 10px;
}
.post-pagination a:first-of-type{
  margin-right: 10px ;
}
.post-pagination span{
  opacity: 0.5 ;
  cursor: not-allowed;
}
.post-pagination .next {
  margin-left: 10px;
}
.post-pagination .prev{
  margin-right: 10px ;
}
/* end styling pagination */

/* start styling single post */
.posts-page .main--post{
  background-color: #fff ;
  padding: 30px 40px ;
  border-radius: 10px ;
}
.posts-page .post-pagination{
  width: 100% ;
  display: flex !important;
  justify-content: space-around;
}
/* end styling sigle post */

/* start styling comments */
.comments-list ul ,
.comments-list ol{
  list-style: none;
}
.comments-list >.comment {
  background-color: #fff ;
  padding: 10px ;
  border: 1px solid #eee ;
  margin-bottom: 10px ;
}
.comments-list > .comment > .children > .comment{
  background-color: #ccc ;
  padding: 10px ;
}
.comments-list > .comment > .children > .comment .comment{
  background-color: #aaa ;
  padding: 10px ;
}
/* end styling comments */



/* you start today from video 68 and it is include */
/* i am in 73 */
